<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fastcampusandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">
        <activity android:name=".RealmActivity"></activity>
        <activity android:name=".SharedPreferenceActivity" />
        <activity android:name=".TabPager2Activity" />
        <activity android:name=".TabPagerActivity" />
        <activity android:name=".RecyclerViewActivity" />
        <activity android:name=".ListViewActivity" />
        <activity android:name=".CallDetailActivity" />
        <activity android:name=".CallListActivity" />
        <activity android:name=".addViewActivity" />
        <activity android:name=".GlideLibActivity" />
        <activity android:name=".ThreadActivity" />
        <activity android:name=".ContextActivity" />
        <activity android:name=".ResourceActivity" />
        <activity android:name=".NullSafetyActivity" />
        <activity android:name=".FragmentActivity" />
        <activity android:name=".RoomTestActivity" />
        <activity android:name=".IntentTestActivity" />
        <activity android:name=".IntentActivity2" />
        <activity android:name=".IntentActivity1" />
        <activity android:name=".CalculatorActivity" />
        <activity android:name=".ListenerActivity" />
        <activity android:name=".fileTestActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>